NEXT_PUBLIC_CROSSMINT_API_KEY=ck_staging_AALBuMwwUS8KQoWKinbJPkduS7ksvN41X6tfKuvkFEyxq7WJpy7aQ75iaLuuADzSWbxwJncFCwuzSEUhvM657eaxzpQJzK6CH9ZffTrmXbwqmyZDLFbqsyEMk6rNjZzgcUnRCd5qBjJP7AK4eeg3UKCWSvYzV2vaihsmvWHCbayCYELcy2BVrHYo4uZzG4D4w2wJ2phog3JxEG1FHv5tCn2r
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
# Devnet USDC mint address, use mainnet mint address for production
NEXT_PUBLIC_USDC_TOKEN_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
